# {{ category_name }} {{ type_name }}

This directory contains {{ type_name | lower }} in the **{{ category_name }}** category:

{% for item in items %}
- [{{ item.name }}]({{ item.link }}): {{ item.overview }}
{% endfor %}
{% if subcategories %}
## Subcategories

{% for sub in subcategories %}
- [{{ sub.name }}]({{ sub.link }})
{% endfor %}
{% endif %}
